/* ===================================================
   Fonts
   ملف CSS خاص بتعريف الخطوط المستخدمة
=================================================== */

/* Open Sans CoMagic - Regular */
@font-face {
    font-family: 'Open Sans CoMagic';
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans Regular"),
         local("OpenSans-Regular"),
         url("/widget/fonts/open-sans-v14-cyrillic_latin-regular.woff2") format("woff2"),
         url("/widget/fonts/open-sans-v14-cyrillic_latin-regular.woff") format("woff")
}

/* Open Sans CoMagic - SemiBold */
@font-face {
    font-family: 'Open Sans CoMagic';
    font-style: normal;
    font-weight: 600;
    src: local("Open Sans SemiBold"),
         local("OpenSans-SemiBold"),
         url("/widget/fonts/open-sans-v14-cyrillic_latin-600.woff2") format("woff2"),
         url("/widget/fonts/open-sans-v14-cyrillic_latin-600.woff") format("woff")
}
